.container {
  padding: 20px 40px;
}

.mainTitle {
  font-size: 5em;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  @media (max-width: 768px) {
    font-size: 3em;
  }
  @media (max-width: 440px) {
    font-size: 1.5em;
  }
}
